# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Eclipse auto makefile
*.d

#LaTeX/TeX working file
*.aux
*.log
*.dvi

.metadata
*.mk
*.pref
